* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: wheat;
    font-family: "montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 560px;
    padding: 25px;
    background-color: #f3f4f7;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px rgba(83, 87, 95, 0.25);
}

img {
    width: 350px;
    height: 350px;
}

.btn {
    padding: 10px 15px;
    color: #f3f4f7;
    background-color: #037ef3;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;

    outline: none;
    cursor: pointer;
}